<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 网站标题 -->
    <title>文章详情</title>
    {% load static %}
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!--详情页面导入-->
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
    <!--导入css-->
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <link rel="stylesheet" href="{% static 'common/jquery.pagination.css' %}">
    <!-- 引入vuejs -->
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
</head>

<body>
<div id="app">
    <!-- 定义导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- 导航栏商标 -->
            <div>
                <a class="navbar-brand" href="{% url 'index' %}">个人博客</a>
            </div>
            <!-- 分类 -->
            <div class="collapse navbar-collapse">
                <div>
                    <ul class="nav navbar-nav">
                        {% for cat in categories %}
                            {% if category.id == cat.id %}
                                <li class="nav-item active">
                                    <a class="nav-link mr-2" href="{% url 'index' %}?cat_id={{ cat.id }}">{{ cat.title }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link mr-2" href="{% url 'index' %}?cat_id={{ cat.id }}">{{ cat.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </nav>

    <!-- content -->
    <div class="container">
        <div class="row">
            <!--文章详情-->
            <div class="col-9">
                <!-- 标题 -->
                <h1 class="mt-4 mb-4">{{ article.title }}</h1>
                <div class="alert alert-success">
                    <div>浏览：{{ article.total_view }}</div>
                </div>
                <!-- 文章正文 -->
                <div class="col-12" style="word-break: break-all;word-wrap: break-word;">

                    {{ article.content | safe }}
                </div>
                <br>
            </div>
            <!-- 推荐 -->
            <div class="col-3 mt-4" id="sidebar" class="sidebar">
                <div class="sidebar__inner">
                    <h4><strong>推荐阅读</strong></h4>
                    <hr>
                    {% for hot_article in hot_articles %}
                        <a href="{% url 'detail' %}?id={{ hot_article.article_id }}"
                           style="color: black">{{ hot_article.title }}</a><br>
                         <hr style="width: 100%;"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="py-3 bg-dark" id="footer">
        <div class="container">
            <h5 class="m-0 text-center text-white">Copyright  <a href="https://blog.csdn.net/TLuffy">TLuffys</a></h5>
        </div>
    </footer>
</div>

<!--ckeditor-->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"
        data-ckeditor-basepath="{% static 'ckeditor/ckeditor/' %}" id="ckeditor-init-script"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<!-- 引入js -->
<script type="text/javascript" src="{% static 'js/host.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.pagination.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: {{ page_num }},
            totalPage: {{ total_page | safe }},
            callback: function (current) {
                location.href = '/detail/?id={{ article.id }}&page_size={{ page_size }}&page_num=' + current;
            }
        })
    });
</script>
</body>

</html>